.button {
  @include button(#fff, #614040);
  transition: border 0.4s ease;
  transition: color 0.3s ease;

  &:hover {
    border: 1px solid $color-text-hover;
    color: $color-text-hover;
    background-color: #03a8f42d;
  }
}
