.gallery__card {
  position: relative;
  height: 545px;
  width: 420px;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

button {
  outline: 0;
  border: 0;
}

img {
  width: 100%;
  display: block;
}

body {
  font-family: "Playfair Display", serif;
  font-size: 14px;
  color: #626262;
}

.gallery__category {
  color: #b4ad9e;
  font-family: "Ubuntu", sans-serif;
  margin-bottom: 32px;
}

.container {
  max-width: 966px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header {
  padding-top: 71px;
  padding-bottom: 92px;
}

.menu__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 555px;
  margin: 0 auto;
}

.menu__link {
  color: #7d7d7d;
  transition: color 0.3s ease;
  position: relative;
}
.menu__link:hover {
  color: #03a9f4;
}
.menu__link::after {
  content: "";
  width: 100%;
  height: 3px;
  position: absolute;
  display: block;
  background-color: #03a9f4;
  border-radius: 10px;
  bottom: -10px;
  opacity: 0;
  transform: scale(0.3);
  transition: opacity 0.3s ease;
  transition: transform 0.3s ease;
}
.menu__link:hover::after {
  transform: scale(1);
  opacity: 1;
}

.gallery {
  padding-bottom: 66px;
}

.gallery__container {
  display: flex;
  flex-direction: column;
}

.gallery__cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 135px;
  -moz-column-gap: 60px;
       column-gap: 60px;
}

.gallery__card {
  flex-basis: calc((100% - 60px) / 2);
}

.photo::before {
  content: "--------------------------------------------------------------";
  color: #fff;
  width: 435px;
  height: 290px;
  display: block;
  position: absolute;
  background-image: linear-gradient(146deg, rgba(173, 173, 173, 0.4934348739) 0%, rgba(66, 66, 66, 0.3757878151) 0%, rgba(0, 0, 0, 0.462622549) 100%);
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.3s ease;
  transition: transform 0.5s ease-in;
}
.photo:hover::before {
  opacity: 1;
  transform: scale(1);
}

.photo__img {
  margin-bottom: 32px;
  max-width: 420px;
  max-height: 280px;
}

.gallery__title {
  font-size: 30px;
  margin-bottom: 40px;
}

.button {
  padding: 20px 50px;
  color: #614040;
  align-self: center;
  border: 1px solid #614040;
  border-radius: 10px;
  background-color: #fff;
  transition: border 0.4s ease;
  transition: color 0.3s ease;
}
.button:hover {
  border: 1px solid #03a9f4;
  color: #03a9f4;
  background-color: rgba(3, 168, 244, 0.1764705882);
}

.hide {
  display: none;
}