:root {
  --fontFamily: "Playfair Display", serif;
  --secondFamily: "Ubuntu", sans-serif;
  --colorHover: #03a9f4;
  --colorText: #626262;
  --colorCategory: #b4ad9e;
  --colorHeader: #7d7d7d;
}

body {
  width: 1200px;
  height: 2236px;
  font-family: var(--fontFamily);
  font-size: 14px;
  color: var(--colorText);
}

/* header */

.header {
  height: 20px;
  width: 560px;
  justify-content: center;
}

.menu-list {
  display: flex;
  position: absolute;
  gap: 70px;
  right: 720px;
}

.menu-link {
  text-decoration: none;
  color: var(--colorHeader);
}

.menu-item {
  list-style-type: none;
}

.menu-list a:hover {
  color: var(--colorHover);
  transition: 0.4ms ease-in-out;
}

/* main */

.gallery-title {
  font-size: 30px;
  font-weight: 300;
}

.gallery-category {
  color: var(--colorCategory);
  font-family: var(--secondFamily);
}

.gallery-button {
  width: 165px;
  height: 60px;
  color: var(--colorText);
}
