:root {
  --fontFamily: "Playfair Display", serif;
  --secondFamily: "Ubuntu", sans-serif;
  --colorHover: #03a9f4;
  --colorText: #626262;
  --colorCategory: #b4ad9e;
  --colorHeader: #7d7d7d;
}

body {
  font-family: var(--fontFamily);
  font-size: 14px;
  color: var(--colorText);
}

.container {
  max-width: 936px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* header */

.header {
  padding-top: 71px;
  padding-bottom: 92px;
}

.menu-link {
  color: var(--colorHeader);
}

.menu-list a:hover {
  color: var(--colorHover);
  transition: 0.4ms ease-in-out;
}

/* main */

.gallery {
  padding-bottom: 66px;
}

.gallery-title {
  font-size: 30px;
}

.gallery-category {
  color: var(--colorCategory);
  font-family: var(--secondFamily);
}

.gallery-button {
  width: 165px;
  height: 60px;
  color: var(--colorText);
}
